{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Treadmill{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href= "{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href= "{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Treadmill Deals</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html"></a>
          </li>
          
         
         
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/photo-1513593771513-7b58b6c4af38.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Treadmill Sales</h3>
            <p>Find the most cheapest and affordable online Treadmills</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/photo-1585473233369-14a97aa923df.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/fitsum-admasu-oGv9xIl7DkY-unsplash.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->

    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Portfolio Heading</h2>

    <br><br>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2XXCpFa" target="_blank"><img class="card-img-top" src="{% static 'affiliate/images/t7.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2XXCpFa" target="_blank">Nattork 2 in 1 Folding Treadmill </a>
            </h4>
            <p class="card-text">Nattork 2 in 1 Folding Treadmill for Home, Under Desk Portable Pad Treadmills,with Remote Control and LED Display,2.25HP Running Walking Jogging Machine for Home Office Use, Installation-Free (Blue)</p>
          </div>
          <a href="https://amzn.to/2XXCpFa" class="btn btn-secondary"><b>$477</b></a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/31RZTww" target="_blank"><img class="card-img-top" src="{% static 'affiliate/images/t6.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/31RZTww" target="_blank">Goplus 2 in 1 Folding Treadmill</a>
            </h4>
            <p class="card-text">Goplus 2 in 1 Folding Treadmill, 2.25HP Under Desk Electric Treadmill, Installation-Free with Bluetooth Speaker, Remote Control and LED Display, Walking Jogging for Home Office Use</p>
          </div>
          <a href="https://amzn.to/31RZTww" class="btn btn-secondary"><b>$119</b></a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3fWOcto" target="_blank"><img class="card-img-top" src="{% static 'affiliate/images/t2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3fWOcto" target="_blank">GYMAX Folding Treadmill</a>
            </h4>
            <p class="card-text">GYMAX Folding Treadmill, 2.25HP Electric Motorized Running Walking Machine with LED Touch Screen & Bluetooth Speaker, Portable Cardio Workout Treadmill for Home Gym Office</p>
          </div>
          <a href="https://amzn.to/3fWOcto" class="btn btn-secondary"><b>$120</b></a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2PO0dGS" target="_blank"><img class="card-img-top" src="{% static 'affiliate/images/t3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2PO0dGS" target="_blank">Sunny Health & Fitness SF-T7515 Smart Treadmill</a>
            </h4>
            <p class="card-text">Sunny Health & Fitness SF-T7515 Smart Treadmill with Auto Incline, Sound System, Bluetooth and Phone Function</p>
          </div>
           <a href= "https://amzn.to/2PO0dGS" class="btn btn-secondary"><b>$339</b></a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3gUUc7m" target="_blank"><img class="card-img-top" src="{% static 'affiliate/images/t4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3gUUc7m" target="_blank">OMA Home Treadmills,</a>
            </h4>
            <p class="card-text">OMA Home Treadmills, Max 2.25 HP Folding Incline Treadmills for Running and Walking Exercise with LED Display of Tracking Heart Rate, Calories - Black</p>
          </div>
          <a href= "https://amzn.to/3gUUc7m" class="btn btn-secondary"><b>$319</b></a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/30VZ7z7" target="blank"><img class="card-img-.,top" src="{% static 'affiliate/images/t11.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/30VZ7z7" target="blank">OMA Home Treadmills 2</a>
            </h4>
            <p class="card-text">OMA Home Treadmills, Max 2.25 HP Folding Incline Treadmills for Running and Walking Exercise with LED Display of Tracking Heart Rate, Calories - Black</p>
          </div>
          
          <a href= "https://amzn.to/30VZ7z7" class="btn btn-secondary"><b>$309</b></a>
        </div>
        
      </div>
    </div>
    <!-- /.row -->
  <h2>Check out other related Affiliate Products ! </h2>
    <!-- Features Section -->
<div id="fle">
<div>
    <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "100094ea-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "computers";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "9faf18303c417a135b9b182ecf9d0205";
</script>
</div>

<div>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>/
      <div class="col-lg-6">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "100094ea-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "threadmills";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "9faf18303c417a135b9b182ecf9d0205";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      </div>
      </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Exercising and training in your home has never being easier, we searched amazon for the most affordable Treadmills</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.com/b?_encoding=UTF8&tag=100094ea-20&linkCode=ur2&linkId=3f5c1c5a6a1401283d6743116d21f03f&camp=1789&creative=9325&node=10971181011">Shop Treadmillls on Amazon</a>
      </div>
    </div>

  </div>
  <br><br>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; A-Affiliates document.write(new Date().getFullYear())</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src= "{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src= "{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
